* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  max-width: 1700px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.header__menu {
}
.menu__list {
  list-style: none;
  display: flex;
  gap: 32px;
}
.menu__link {
  font-size: 16px;
  color: #64748b;
  text-decoration: none;
}
.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__search {
  border: none;
  background-color: #fff;
}
.header__btn {
  font-size: 16px;
  font-weight: 500;
  background-color: #0f172a;
  color: #fff;
  padding: 16px 20px;
  border: none;
  border-radius: 16px;
}
